.full-foot{
    background-color: #040B1D;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    p{
        font-weight: 400;
        font-size: 14px;
        color: #485165;
        span{
            color: #007bff;
            border: 1px solid gray;
        }
    }
}